@media and (min-width: 375px;) and (max-width: 667px;){
    .box{
        background-color: red;
    }
}

body{
    background-color: rgb(201, 223, 230);
}

.box {
    background-color: white;
    border-radius: 8px;
    width: 260px;
    height: 404px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
    margin-top: 240px;
}

.p {
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 799;
    opacity: 90%;
    color: rgb(18, 18, 65);
    
}

.s{
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
    padding: 10px;
    margin-top: -3px;
    opacity: 56%;
    font-family: sans-serif;
}

.qr{   
    margin: 10px;
    border-radius: 8px;
}

.attribution{
    margin-top: 10px;
}


